[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "==1.13.0"
flask = "==2.1.1"
boto3 = "==1.21.35"
pyyaml = "==6.0"
h5py = "==3.6.0"
tensorflow-cpu = "==2.8.0"

[dev-packages]
black = "==22.3.0"
pylint = "==2.13.5"
pytest = "==7.1.1"
mypy = "==0.931"
isort = "==5.10.1"
gunicorn = "==20.1.0"
moto = "==3.1.4"
pyngrok = "==5.1.0"
pytest-mock = "==3.7.0"

[requires]
python_version = "3.9"
